body {
    font-family: 'Coda', cursive;
    font-family: 'Ranga', cursive;
	line-height:28px;
    
}



/* ==================================================
   couples index Page = searchable
================================================== */

.container.body-content{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-image: url('~/Content/img/slider-images/image02.jpg');
    width: 100%;
    height: 1000px;
}

#couplesindex.container {
	position: relative;
	z-index: 99;
    margin: 0px 200px 0px 200px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background: #cabdcc;
	opacity: 0.8;
    height: 1000px;
    width: 949px;
}


/*.nowheat.container{
    margin: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 300px;
    width: 100%;
    color: #cabdcc;
   font-family: 'Coda', cursive;
}

.nowheat.box{
    margin: 100px 200px 50px 200px;
    border: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    height: 275px;
    width: 549px;
    background-color: #26292e;
    color: #cabdcc;
    border-radius: 20px;
    font-family: 'Coda';
    font-weight: normal;
    line-height: 20px;
    border-style: outset;
    border-width: 5px;
    border-color: #383677;
    text-align:center;
}

.status.container{
    margin: 50px 0px 50px 0px;
    border: 0px 0px 0px 0px;
    padding: 0px 0px 0px 00px;
    height: 300px;
    width: 100%;

}

.ondeck.box{
    margin: 0px 10px 0px 50px;
    border: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    height: 200px;
    width: 350px;
    background-color: #26292e;
    color: #cabdcc;
    border-radius: 20px;
    font-family: 'Coda', cursive;
    float: left;
    border-style: outset;
    border-width: 3px;
    border-color: #383677;
    text-align:center;
}


.inhole.box{
    margin: 0px 50px 0px 10px;
    border: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    height: 200px;
    width: 350px;
    background-color: #26292e;
    color: #cabdcc;
    border-radius: 20px;
    font-family: 'Coda', cursive;
    float: right;
     border-style: outset;
    border-width: 3px;
    border-color: #383677;
    text-align:center;
}



.dancedetails{
    color: #FFFFFF;

}*/


body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Coda', cursive;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    text-align: left;

}

.dl-horizontal {
    font-family: cursive;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: #e4a4dd ;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nowCouples{
    align-content:center;
}

ul {
    list-style-type: none;
}


/*This datalist for thumbnail Layout*/

.thumbnail {
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.70);
    border-radius: 20px;
    border-style: outset;
    border-width: 3px;
    border-color: #383677;
}

a.btn.btn-primary {
    background-color: #cabdcc;
    border-style: outset;
    border-width: 2px;
    border-color: #383677;
    color: #000000;
}

.btn.btn-default {
    background-color: #cabdcc;
    border-style: outset;
    border-width: 2px;
    border-color: #383677;
    color: #000000;
}



.heatlistName {
    color: #e4a4dd;
    font-family: cursive;
}