/*My adjustments*/

body {
    background-image: url('Images/brit.JPG');
    color: white;
}

<<<<<<< HEAD
.fields-w3-agileits{
    border-radius: 20px;
}

.main-w3layouts-form{
    border-radius: 20px;
}

=======
>>>>>>> HeatlistIndex
.rounded{
    border-radius: 20px;
}