body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Coda Caption', sans-serif;
    font-family: 'Coda', cursive;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    text-align: left;

}

.dl-horizontal {
    font-family: cursive;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    color: white ;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nowCouples{
    align-content:center;
}

ul {
    list-style-type: none;
}

/*This datalist for thumbnail Layout*/

.thumbnail {
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.70);
    border-radius: 20px;
    border-style: outset;
    border-width: 3px;
    border-color: #383677;
}

a.btn.btn-primary {
    background-color: #cabdcc;
    border-style: outset;
    border-width: 2px;
    border-color: #383677;
    color: #000000;
}

.heatlistName {
    color: #e4a4dd;
    font-family: cursive;
}