body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#firstRow {
    padding-top: 50px;
}

#thirdRow {
    padding-bottom: 50px;
}

#picture1 {
    background-image: url('Images/Kaitie Performance.jpeg');
    height: 325px;
    background-size: 490px;
    background-position-x: right;
}

#picture2 {

}

#picture3 {
    background-image: url('Images/White dress Smiles all over.jpeg');
    height: 325px;
    background-size: 490px;
    background-position-x: center;
}

#picture4 {

}

#picture5 {
    background-image: url('Images/grey shirt hands up.jpeg');
    height: 325px;
    background-size: 490px;
    background-position-x: center;
}

#picture7 {
    background-image: url('Images/White Dress Serious Faces.jpeg');
    height: 325px;
    background-size: 490px;
    background-position-x: center;
}

#picture8 {

}

#picture9 {
    background-image: url('Images/Kaitie Takes a Pose.jpeg');
    height: 325px;
    background-size: 490px;
    background-position-x: center;
}