@{
    ViewBag.Title = "Home Page";
}

 <!--this row contains 3 sets of columns so all of them need to be 4 length to equal to 12-->

<div class="row" id="firstRow">
    <div class="col-md-4, col-sm-3" id="picture1"></div>
    <div class="col-md-4, col-sm-3" id="gridText">
        <h3>Ipsum Stuff</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a fermentum risus. In tristique imperdiet nisl, a fringilla dui molestie sed. Pellentesque semper orci tempor faucibus tincidunt. In consectetur ligula augue, sed dapibus erat malesuada nec.</h4>
    </div>
    <div class="col-md-4, col-sm-3" id="picture3"></div>
</div>

<!--Also 3 columns so 4 length-->

<div class="row" id="secondRow">
    <div class="col-md-4, col-sm-3" id="gridText">
        <h3>Ipsum Stuff</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a fermentum risus. In tristique imperdiet nisl, a fringilla dui molestie sed. Pellentesque semper orci tempor faucibus tincidunt. In consectetur ligula augue, sed dapibus erat malesuada nec.</h4>
    </div>
    <div class="col-md-4, col-sm-3" id="picture5"></div>
    <div class="col-md-4, col-sm-3" id="gridText">
        <h3>Ipsum Stuff</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a fermentum risus. In tristique imperdiet nisl, a fringilla dui molestie sed. Pellentesque semper orci tempor faucibus tincidunt. In consectetur ligula augue, sed dapibus erat malesuada nec.</h4>
    </div>
</div>

<<<<<<< HEAD
<div class="row">
    
    <div>
        
        <h1></h1>
    </div>
=======
<!--Last row that have a column of 3 and that makes up the grid -->

<div class="row" id="thirdRow">
    <div class="col-md-4, col-sm-3" id="picture7"></div>
    <div class="col-md-4, col-sm-3" id="gridText">
        <h3>Ipsum Stuff</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a fermentum risus. In tristique imperdiet nisl, a fringilla dui molestie sed. Pellentesque semper orci tempor faucibus tincidunt. In consectetur ligula augue, sed dapibus erat malesuada nec.</h4>
    </div>
    <div class="col-md-4, col-sm-3" id="picture9"></div>
</div>
<div class="row" id="fourthRow">
    <div class="col-md-6" id="Carousel1">
        <div class="col-md-12">
            <div id="only-Carousel" class="carousel slide" data-ride="carousel">

                <!-- indicators dot nav -->
                <ol class="carousel-indicators">
                    <li data-target="#only-Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#only-Carousel" data-slide-to="1"></li>
                    <li data-target="#only-Carousel" data-slide-to="2"></li>
                </ol>
>>>>>>> Faizon1

                <!-- wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="filler"></div>
                        <div class="carousel-picture1">

                        </div>
                    </div>
                    <div class="item">
                        <div class="filler"></div>
                        <div class="carousel-picture2">

                        </div>
                    </div>
                    <div class="item">
                        <div class="filler"></div>
                        <div class="carousel-picture3">

                        </div>
                    </div>
                </div>

                <!-- controls || next and prevs button -->
                <a class="left carousel-control" href="#only-Carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#only-Carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

            </div>
        </div>
    </div>



    <div class="col-md-6" id="Carousel2">
        <div class="col-md-12">
            <div id="only-Carousel2" class="carousel slide" data-ride="carousel">

                <!-- indicators dot nav -->
                <ol class="carousel-indicators">
                    <li data-target="#only-Carousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#only-Carousel2" data-slide-to="1"></li>
                    <li data-target="#only-Carousel2" data-slide-to="2"></li>
                </ol>

                <!-- wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="filler"></div>
                        <div class="carousel-picture4">

                        </div>
                    </div>
                    <div class="item">
                        <div class="filler"></div>
                        <div class="carousel-picture5">

                        </div>
                    </div>
                    <div class="item">
                        <div class="filler"></div>
                        <div class="carousel-picture6">

                        </div>
                    </div>
                </div>

                <!-- controls || next and prevs button -->
                <a class="left carousel-control" href="#only-Carousel2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#only-Carousel2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>

            </div>
        </div>
    </div>

    </div>
   

    @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
