
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Coda|Ranga:400,700" rel="stylesheet">

    <link href="/Content/Site.css" rel="stylesheet" />

    <link href="couplesstyle.css" rel="stylesheet" />




    <title>Index - Heat</title>

    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>


</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Heat</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/About">About</a></li>

                    <li><a href="/Couples">Couples</a></li>
                    <li><a href="/HeatLists">Heat List</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/Register" id="registerLink">Register</a></li>
                    <li><a href="/Account/Login" id="loginLink">Log in</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">





        <head>

            <link href="/views/couples/couplesstyle.css" rel="stylesheet" />




        </head>

        <div class="container body-content">
            <div id="couplesindex page-alternate">




                <h2>Index</h2>


                <div>
                    <form action="/Couples" method="get">
                        <input id="search" name="search" type="text" value="" />            <input type="submit" name="submit" value="Search" />
                    </form>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <dl class="dl-horizontal">

                                    <dt>Name</dt>
                                    <dd>Faizon Alexander</dd>

                                    <dt>Partner</dt>
                                    <dd>Judith Hinckleman</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Gold</dd>

                                    <dt>Number</dt>
                                    <dd>21</dd>

                                    <dt>Dance</dt>
                                    <dd>Tango</dd>

                                    <dt>Partner</dt>
                                    <dd>Judith Hinckleman</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Gold</dd>

                                    <dt>Number</dt>
                                    <dd>21</dd>

                                    <dt>Dance</dt>
                                    <dd>Tango</dd>

                                    <dt>Combo1</dt>
                                    <dd>Pro-Am</dd>
                                </dl>
                                <br />
                                <p><a class="btn btn-primary" href="/Couples/Details/5" role="button">Details</a></p>


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <dl class="dl-horizontal">

                                    <dt>Name</dt>
                                    <dd>Teresa Johnson</dd>

                                    <dt>Partner</dt>
                                    <dd>Sophia Maria</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Gold</dd>

                                    <dt>Number</dt>
                                    <dd>22</dd>

                                    <dt>Dance</dt>
                                    <dd>Tango</dd>

                                    <dt>Partner</dt>
                                    <dd>Sophia Maria</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Gold</dd>

                                    <dt>Number</dt>
                                    <dd>22</dd>

                                    <dt>Dance</dt>
                                    <dd>Tango</dd>

                                    <dt>Combo1</dt>
                                    <dd>Pro-Am</dd>
                                </dl>
                                <br />
                                <p><a class="btn btn-primary" href="/Couples/Details/6" role="button">Details</a></p>


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <dl class="dl-horizontal">

                                    <dt>Name</dt>
                                    <dd>David Gomez</dd>

                                    <dt>Partner</dt>
                                    <dd>Selena Gomez</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Silver</dd>

                                    <dt>Number</dt>
                                    <dd>2121</dd>

                                    <dt>Dance</dt>
                                    <dd>Quickstep</dd>

                                    <dt>Partner</dt>
                                    <dd>Selena Gomez</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Silver</dd>

                                    <dt>Number</dt>
                                    <dd>2121</dd>

                                    <dt>Dance</dt>
                                    <dd>Quickstep</dd>

                                    <dt>Combo1</dt>
                                    <dd>Pro-Pro</dd>
                                </dl>
                                <br />
                                <p><a class="btn btn-primary" href="/Couples/Details/7" role="button">Details</a></p>


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <dl class="dl-horizontal">

                                    <dt>Name</dt>
                                    <dd>David Gomez</dd>

                                    <dt>Partner</dt>
                                    <dd>Shakira</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Gold</dd>

                                    <dt>Number</dt>
                                    <dd>800</dd>

                                    <dt>Dance</dt>
                                    <dd>Rumba</dd>

                                    <dt>Partner</dt>
                                    <dd>Shakira</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Gold</dd>

                                    <dt>Number</dt>
                                    <dd>800</dd>

                                    <dt>Dance</dt>
                                    <dd>Rumba</dd>

                                    <dt>Combo1</dt>
                                    <dd>Pro-Pro</dd>
                                </dl>
                                <br />
                                <p><a class="btn btn-primary" href="/Couples/Details/8" role="button">Details</a></p>


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <dl class="dl-horizontal">

                                    <dt>Name</dt>
                                    <dd>Teresa Johnson</dd>

                                    <dt>Partner</dt>
                                    <dd>Asger Barr</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Bronze</dd>

                                    <dt>Number</dt>
                                    <dd>777</dd>

                                    <dt>Dance</dt>
                                    <dd>Foxtrot</dd>

                                    <dt>Partner</dt>
                                    <dd>Asger Barr</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Bronze</dd>

                                    <dt>Number</dt>
                                    <dd>777</dd>

                                    <dt>Dance</dt>
                                    <dd>Foxtrot</dd>

                                    <dt>Combo1</dt>
                                    <dd>Pro-Am</dd>
                                </dl>
                                <br />
                                <p><a class="btn btn-primary" href="/Couples/Details/9" role="button">Details</a></p>


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <dl class="dl-horizontal">

                                    <dt>Name</dt>
                                    <dd>Teresa Johnson</dd>

                                    <dt>Partner</dt>
                                    <dd>Asger Barr</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Bronze</dd>

                                    <dt>Number</dt>
                                    <dd>777</dd>

                                    <dt>Dance</dt>
                                    <dd>Tango</dd>

                                    <dt>Partner</dt>
                                    <dd>Asger Barr</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Bronze</dd>

                                    <dt>Number</dt>
                                    <dd>777</dd>

                                    <dt>Dance</dt>
                                    <dd>Tango</dd>

                                    <dt>Combo1</dt>
                                    <dd>Pro-Am</dd>
                                </dl>
                                <br />
                                <p><a class="btn btn-primary" href="/Couples/Details/10" role="button">Details</a></p>


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <dl class="dl-horizontal">

                                    <dt>Name</dt>
                                    <dd>Teresa Johnson</dd>

                                    <dt>Partner</dt>
                                    <dd>blah</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Bronze</dd>

                                    <dt>Number</dt>
                                    <dd>blah</dd>

                                    <dt>Dance</dt>
                                    <dd>Paso Doble</dd>

                                    <dt>Partner</dt>
                                    <dd>blah</dd>

                                    <dt>HeatList</dt>
                                    <dd>my heat</dd>

                                    <dt>DanceLevel1</dt>
                                    <dd>Bronze</dd>

                                    <dt>Number</dt>
                                    <dd>blah</dd>

                                    <dt>Dance</dt>
                                    <dd>Paso Doble</dd>

                                    <dt>Combo1</dt>
                                    <dd>Pro-Am</dd>
                                </dl>
                                <br />
                                <p><a class="btn btn-primary" href="/Couples/Details/12" role="button">Details</a></p>


                            </div>
                        </div>
                    </div>
                </div>






                <hr />
                <footer>
                    <p>&copy; 2017 - Heat</p>
                </footer>
            </div>

            <script src="/Scripts/jquery-1.10.2.js"></script>

            <script src="/Scripts/bootstrap.js"></script>
            <script src="/Scripts/respond.js"></script>



            <!-- Visual Studio Browser Link -->
            <script type="application/json" id="__browserLink_initializationData">
                {"appName":"Chrome","requestId":"fc2d5c379dd648df8007aec4f7448646"}
            </script>
            <script type="text/javascript" src="https://localhost:44399/28b9fa4669c440a1be81da0b1e325c34/browserLink" async="async"></script>
            <!-- End Browser Link -->

</body>
</html>
